* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* scroll botones */
html {
  scroll-behavior: smooth;
}

/* header */
header h1 {
  text-align: center;
  color: orangered;
  margin: 15px;
}

.nav ul {
  background-color: black;

}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.nav ul li {
  padding: 20px;
  cursor: pointer;
  transition: background-color 300ms;
  text-shadow:
    0 0 5px orangered,
    0 0 10px orangered,
    0 0 20px orangered,
    0 0 40px orangered,
    0 0 80px orangered;
}

.nav ul li:hover {
  background-color: orangered;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 20px;

}

/* inicio */
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio span {
  color: orangered;
}

.inicio h2,
.inicio p {
  text-align: center;
  margin: 10px;
}

.inicio h2 {
  animation: h2-inicio 0.5s alternate forwards;
}

@keyframes h2-inicio {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

.inicio img {
  width: 200px;
  border-radius: 50%;
  animation: img-rgb-border 4s alternate infinite;
}

@keyframes img-rgb-border {
  0% {
    border: 2px solid red;
  }

  25% {
    border: 2px solid rgb(238, 255, 0);
  }

  50% {
    border: 2px solid rgb(0, 255, 34);
  }

  75% {
    border: 2px solid rgb(0, 17, 255);
  }

  100% {
    border: 2px solid rgb(183, 0, 255);
  }
}

.inicio button {
  margin-top: 30px;
  border: none;
  background: linear-gradient(229deg, red 0%, yellow 25%, lime 50%, blue 75%, magenta 100%);
  background-size: 300% 300%;
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  animation: btn-rgb 2s alternate infinite ease-in-out, btn-translate 0.5s alternate forwards;
  cursor: pointer;
  transition: transform 300ms;
  text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
  box-shadow: 3px 1px 21px 7px rgba(0, 0, 0, 0.75);
}

@keyframes btn-rgb {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes btn-translate {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0px);
  }
}



/* secciones */
.sobre-mi h2,
.proyectos h2,
.habilidades h2,
.contacto h2 {
  text-align: center;
  margin-top: 30px;
  background-color: black;
  color: white;
  padding: 15px;
  text-shadow:
    0 0 5px orangered,
    0 0 10px orangered,
    0 0 20px orangered,
    0 0 40px orangered,
    0 0 80px orangered;
}

/* sobre mi */
.sobre-mi p {
  margin: 15px;
  text-align: center;
}

.my-way h3 {
  margin-bottom: 15px;
}

.my-way {
  text-align: center;
}

/* proyectos */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  margin: 20px;
  background: #dfdfdf;
  background: linear-gradient(180deg, #ff9100 0%, #ff4500 80%);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 34px 4px rgba(0, 0, 0, 0.75);
  transition: transform 300ms;
}

.card:hover {
  transform: scale(1.05);
}

.card h3,
.card p {
  margin: 20px;
  color: white;
}

.card img {
  width: 300px;
}

.card a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 300ms;
}

.card a:hover {
  background-color: rgb(36, 36, 36);
}

/* habilidades */
.card-grid-habilidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px;
}

.card-habilidades {
  background-color: #ffffff00;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 2px 28px 2px rgba(0, 0, 0, 0.75);
  transition: transform 300ms;
}

.card-habilidades:hover {
  transform: scale(1.05);
}

.card-habilidades h3,
.card-habilidades p {
  color: black;
  margin: 20px;
}

.card-habilidades p {
  color: black;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}


.card-habilidades img {
  width: 80px;
}

/* contacto */
.form-card {}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
  background-color: red;
  padding: 20px;
  margin: 20px;
  gap: 15px;
  border-radius: 20px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}