* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */
header h1 {
  text-align: center;
  color: orangered;
  margin: 15px;
}

.nav ul {
  background-color: black;

}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.nav ul li {
  padding: 20px;
  cursor: pointer;
  transition: background-color 300ms;
  text-shadow:
    0 0 5px orangered,
    0 0 10px orangered,
    0 0 20px orangered,
    0 0 40px orangered,
    0 0 80px orangered;
}

.nav ul li:hover {
  background-color: orangered;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 20px;

}

/* inicio */
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio span {
  color: orangered;
}

.inicio h2,
.inicio p {
  text-align: center;
  margin: 10px;
}

.inicio h2 {
  animation: h2-inicio 0.5s alternate forwards;
}

@keyframes h2-inicio {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

.inicio img {
  width: 200px;
  border-radius: 50%;
  animation: img-rgb-border 4s alternate infinite;
}

@keyframes img-rgb-border {
  0% {
    border: 2px solid red;
  }

  25% {
    border: 2px solid rgb(238, 255, 0);
  }

  50% {
    border: 2px solid rgb(0, 255, 34);
  }

  75% {
    border: 2px solid rgb(0, 17, 255);
  }

  100% {
    border: 2px solid rgb(183, 0, 255);
  }
}

.inicio button {
  margin-top: 30px;
  border: none;
  background: linear-gradient(229deg, red 0%, yellow 25%, lime 50%, blue 75%, magenta 100%);
  background-size: 300% 300%;
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  animation: btn-rgb 2s alternate infinite ease-in-out, btn-translate 0.5s alternate forwards;
  cursor: pointer;
  transition: transform 300ms;
  text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
  box-shadow: 3px 1px 21px 7px rgba(0, 0, 0, 0.75);
}

.inicio button:hover {
  transform: scale(1.1);
}

@keyframes btn-rgb {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes btn-translate {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0px);
  }
}



/* sobre mi */
.sobre-mi h2 {
  text-align: center;
  margin-top: 30px;
  background-color: black;
  color: white;
  padding: 15px;
  text-shadow:
    0 0 5px orangered,
    0 0 10px orangered,
    0 0 20px orangered,
    0 0 40px orangered,
    0 0 80px orangered;
}

.sobre-mi p {
  margin: 15px;
  text-align: center;
}

.my-way h3 {
  margin-bottom: 15px;
}

.my-way {
  text-align: center;
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}